#2whatwedo_canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; /* Ajustar según sea necesario */

}

.overlay-element {
    position: absolute;
    left: 50px;
    top: 50px;
    background-color: rgba(255, 0, 0, 0.5);
    z-index: 2; /* Asegura que esté por encima del canvas */
}


.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    left:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
    margin-top:16px;
}